body {
    background-color: #FFF9F9;
    color: #425159;
    font-family: Verdana, Tahoma, sans-serif;
    z-index: 1;
}
a:link {
    color: #425159;
    text-decoration: none;
}
 a:hover {
     text-decoration: underline;
    color: #425159;
}
a:visited,a:focus,a:visited {
    color: #425159;
    text-decoration: none;
}
.nome {
    display: inline-block;
    min-width: 100%;
    text-align: center;      
    font-family: Merriweather, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 35px;
    min-height: 100px;
    border-radius:25px;
    background-color: rgb(185, 209, 219);
}
.apresentacao-geral {
    display: inline-block;
    background-color: #6E8894;
    width: 1000px;
    border-radius: 25px;
    margin-left: 200px;
    margin-right: 200px;
    z-index: 2;
    padding: 35px 35px;
}

.background-foto {
    display: inline-block;
    min-width: 100%;
    border-radius: 25px;
    background-color: #CCC7B9;
    height: 240px;    
    padding: 35px 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    min-width: 800px;
    z-index: 3;
}

.foto {

    min-width:100%;   
   margin-right:125px;   
   overflow: visible;

}
.imagem-foto {
    border-radius: 100px;  
    min-height:200px;  
    float: left;
    margin-right: 35px;
    margin-bottom: 35px;
}

.content {
    padding: 0px;
}

.conteudo-secundario {
    padding: 35px 35px;
    min-height: 100px;
    border-radius:25px;
    background-color: rgb(185, 209, 219);
}

.indice {
    margin-left: 35px;
    font-weight:600;
}
.links {
    margin-left: 35px;
}

strong {
    font-weight:600;
}
em {
    color: #6E8894;
}
.boa-comm {
    font-weight:600;
}

.gen-exp {
    font-weight:600;
}

.sei-shell-git {
    font-weight:600;
}