body {
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
}
div {
    cursor: default;
}
h1 {
    border: 2px solid black;
    margin: 60px 0px;
}
.main-container {
    position: absolute;
    margin-top: 35px;
    margin-bottom: 35px;
    left: 50%;
    top: 50%;
    width: 65%;
    height: 95%;
    padding: 30px 35px 30px 35px;
    text-align: center;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    overflow: auto;
}
.container-paleta {
    position: absolute;
    left:10px;
    top: 200px;
    height: auto;
    margin-bottom: 35px;
    max-width: 200px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: 800;
}

.cores-paleta {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px 1px;
}

.color1{ background-color: black; outline:1px solid white}
.color2 {background-color: blue;}
.color3 {background-color: #0FA36B;}
.color4 {background-color: goldenrod;}


.container-tabela {
    position: relative;
    display: inline-block;
    margin-right: auto;
    background-color: black;
}

td {
    display: inline-block;
    margin: 1px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    background-color: white;
}

.btn-container {
    display:inline-block;
    height: 30px;
    width: 30px;
    padding: 10px 5px 5px 5px;
}
.ativa {
    background-color: #D1CA98;
}
.ativa-hover {
    background-color: #D1CA98;
}

.input-tamanho {
    width: 20px;
}

.reset {
    border: 1px solid white;
}

.btn-github {
    border: 1px solid white;
    margin: 10px 0px;
};