* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}

.divcores{
    display: flex;
    flex-direction: row;

    width: 200px;

    align-content: center;
    justify-content: flex-start;

    margin: 10px;
}

div.cores{
    margin: 4px;
    border: 2px solid black;
    width: 40px;
    height:40px;
}

table{
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#btnclear{
    width: 45px;
    height: 25px;
    margin: 10px;
    border-radius: 15%;
    background: azure;
    border: 1px solid black;
}

#btnclear:hover{
    width: 50px;
    height: 30px;
    margin: 10px;
}