*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;

    align-items: center;
    
}

.divcores{
    display: flex;
    flex-direction: row;

    width: 200px;

    align-content: center;
    justify-content: flex-start;

    margin: 10px;
}

div.cores{
    margin: 4px;
    border: 2px solid black;
    width: 40px;
    height:40px;
}

table{
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#btnclear{
    padding: 10px;
    
}

#reset{
    padding: 10px;
}

#avatar{
    padding: 10px;
}

#tamanho{
    width:50px;
}