body {
    text-align: center;
}

#tabela {
    position: fixed;
    left: 42%;
    top: 85px;
}

th {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    border: 5px solid;
}

#corSelecionada{
    position: fixed;
    top: 200px;
    left: 1%;
    width: 260px;
    height: 260px;
    border: 1px solid black;
}

#canvas{
    position: fixed;
    top: 200px;
    left: 43%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pixel{
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    border: 1px solid black;
}

.preto{
    background-color: #000000;
    
}
.vermelho{
    background-color: #FF0000;
    
}

.azul{
    background-color: #0000FF;
}

.verde {
    background-color: #008000;
}

#btn {
    top: 490px;
    left: 613px;
    position: absolute;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9092b), to(#65a9d7));
    background: -webkit-linear-gradient(top, #d9092b, #65a9d7);
    background: -moz-linear-gradient(top, #d9092b, #65a9d7);
    background: -ms-linear-gradient(top, #d9092b, #65a9d7);
    background: -o-linear-gradient(top, #d9092b, #65a9d7);
    padding: 16.5px 33px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #000000;
    font-size: 24px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }

    #btn:hover {
    border-top-color: #283578;
    background: #283578;
    color: #cccccc;
    }

    #btn:active {
    border-top-color: #de14af;
    background: #de14af;
    }
