body {
    background-color: rgba(245, 245, 245, 0.541);
}

.tudo {
    color: #425159;
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0px 100px;
    z-index: 1;
}

.container {
    margin-top: 70px;
 
}

.barra-superior {
    position:fixed;
    top: 8px;
    width: 475px;
    background-color: rgb(185, 209, 219);
    border-radius: 25px;
    font-size: 24px;
    padding: 8px 200px 8px 461px;
}

.conteudo-principal {
    background-color: rgb(178, 212, 216);
    border-radius: 25px;
    padding: 0px 0px;
}

.artigo {
    margin: 0px 8px 0px 8px; 
}

a.link {
    margin-left: 6px;
    margin-right: 6px;
}

div.link {
    float:left;
    min-height:100%;
    border-radius:25px;
    background-color: rgb(199, 230, 243);

}

h1 {
    text-align: right;
    color: white;
    background-color: rgb(228, 69, 69);
    padding: 6px 8px;
    line-height: 2.6em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

h2 {
    background-color: rgb(228, 69, 69);
    line-height: 2em;
    max-width: 100%;
    padding: 6px 8px;
    color:white;
}

.img1 {
    max-width: 400px;
    margin-right : 8px;
}

.artigo {
    text-align: justify;
    font-size: 14px;
    line-height: 18px;
}
.foto-principal {
    float:left;
}

.rodape {
    display: block;
    background-color: rgb(185, 209, 219);
    border-radius: 25px;
    padding: 8px 6px;
    text-align: center;
}



a:link {
    text-decoration: none;
    color: rgb(228, 69, 69);

}

 a:hover {
     text-decoration: underline;
     color: rgb(228, 69, 69);
    }

a:visited,a:focus,a:visited {
    color: rgb(228, 69, 69);
    text-decoration: none;
}