body {
    background-color: #FFF9F9;
    color: #425159;
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    z-index: 1;
}

.container {
    margin-top: 70px;
}

.barra-superior {
    position:fixed;
    top: 8px;
    width: 100%;
    background-color: rgb(185, 209, 219);
    border-radius: 25px;
    padding: 8px 6px;
    text-align: center;
}

.rodape {
    width: 100%;
    display: block;
    background-color: rgb(185, 209, 219);
    border-radius: 25px;
    padding: 8px 6px;
    text-align: center;
}

a.link {
    min-height: 100%;
    margin-left: 6px;
    margin-right: 6px;
    background-color: rgb(199, 230, 243);
}

a:link {
    color: #425159;
    text-decoration: none;
}

 a:hover {
     text-decoration: underline;
    color: #425159;
}

a:visited,a:focus,a:visited {
    color: #425159;
    text-decoration: none;
}