#title-input {
    display: block;
}

#title-pallet {
    display: none;
}

#pallet {
    display: none;
}

.pallet {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#pallet0 {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: black;
}

td {
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

table {
    margin-top: 1%;
}

#buttons {
    margin-top: 1%;
}
